
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.hide {
    display: none !important;
}

.flex {
    display: flex !important;
    animation: fadeIn .3s normal;
    -webkit-animation: fadeIn .3s normal; /* Safari 和 Chrome */
}

.show {
    display: block !important;
    animation: fadeIn .3s normal;
    -webkit-animation: fadeIn .3s normal; /* Safari 和 Chrome */
}

.disable {
    cursor: not-allowed !important;
}

.video-container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
}

.video-container:focus {
    outline: none;
}

#myVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* 提示信息 */
.message-bottom {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 110;
}

/* 弹幕 */
.video-barrage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
}

#barrageCanvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 暂停时显示海报 */
.video-poster {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 110;
}

.video-poster .close {
    position: absolute;
    right: -6px;
    top: -6px;
    padding: 4px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 40px;
    font-size: 12px;
    opacity: .9;
    color: gray;
}

.video-poster .close:hover {
    opacity: 1;
}

.video-poster .img {
    width: 100%;
    height: 100%;
}

/* 工具栏 */
.video-control {
    position: absolute;
    bottom: 0;
    width: 100%;
    user-select: none;
    /* display: none; */
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background: -o-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* -moz-box-shadow: inset 0px -10px 100px -10px #333;
    -webkit-box-shadow: inset 0px -10px 100px -10px #333;
    box-shadow: inset 0px -10px 100px -10px #333; */
    z-index: 110;
}

/* 工具栏 进度条 */
.video-control .process-container {
    position: relative;
    width: 100%;
    height: 4px;
    cursor: pointer;
    z-index: 100;
}

.video-control .process-container:hover {
    height: 8px;
    transition: height .3s ease-out;
}

.video-control .process-container:hover .adjust-tool {
    opacity: 1;
    transition: opacity .3s ease; 
}

.video-control .process-container:hover .process-info {
    display: block;
}

/* 拖动进度条 */
.video-control .process-active {
    height: 8px !important;
}

.video-control .process-active .adjust-tool{
    opacity: 1 !important;
}

.video-control .process-active .process-info{
    display: block !important;
}

.process-container .process-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.process-container .cache-bar {
    position: absolute;
    height: 100%;
    background-color: gray;
}

.process-container .play-bar {
    position: absolute;
    height: 100%;
    background-color: rgb(0, 190, 6);
}

.process-container .adjust-tool {
    position: absolute;
    top: -3px;
    margin-left: -8px;
    border-radius: 8px;
    border: 5px solid #fff;
    width: 4px;
    height: 4px;
    background-color: rgb(0, 190, 6);
    opacity: 0;
}

.process-container .process-info {
    position: absolute;
    width: 50px;
    height: 20px;
    bottom: 10px;
    padding: 2px 0;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: white;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}
/* .process-container .process-info::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: calc(50% - 6px);
    border-top: 6px solid rgba(0, 0, 0, 0.8);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
} */

/* 工具栏  工具 */
.video-control .control-container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 45px;
    /* line-height: 45px; */
    display: flex;
    justify-content:space-between;
    align-items:Center;
}

/* 工具按钮 */
.control-container > div > div > a {
    font-size: 16px;
    padding: 4px;
    color: white;
    cursor: pointer;
}

.control-container  > div > div > a:hover {
    color: rgb(0, 190, 6);
}

/* 左侧工具栏 */
.control-container .control-left {
    float: left;
}

.control-container .control-left > div {
    display: inline-block;
    margin-left: 8px;
}

/*时间*/
.time-container {
    color: #fff;
}

.time-container span{
    font-size: 13px;
    color: #eeeeee
}

.time-container .time-current {
    text-align: right;
}

.time-container .time-total {
    text-align: left;
    color: #b5b5b5;
}

/* 右侧工具栏 */
.control-container .control-right {
    float: right;
}

.control-container .control-right > div {
    display: inline-block;
    margin-right: 8px;
}

/* 音量 */
.control-container .volume-container {
    position: relative;
}

.control-container .volume-container:hover .volume-content{
    display: block;
    animation: fadeIn .3s normal;
    -webkit-animation: fadeIn .3s normal; /* Safari 和 Chrome */
}

.control-container .volume-content {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    z-index: 101;
    display: none;
}

.control-container .volume-content > div {
    padding-bottom: 6px;
    background-color: black;
    border-radius: 4px;
}

.volume-content .volume-value {
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.volume-content .volume-slider-bg {
    position: relative;
    width: 4px;
    height: 100px;
    margin: 2px auto;
    border-radius: 4px;
    background-color: red;
    cursor: pointer;
}

.volume-content .volume-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: yellow;
    cursor: pointer;
}

.volume-slider-bg .volume-slider {
    position: absolute;
    width: 15px;
    height: 8px;
    left: 50%;
    transform: translateX(-50%);
    /* bottom: 50px; */
    border-radius: 4px;
    background-color: green;
    cursor: pointer;
}

/* 倍数播放 */
.control-container .rate-container {
    position: relative;
}

.control-container .rate-container:hover .rate-content{
    display: block;
    animation: fadeIn .3s normal;
    -webkit-animation: fadeIn .3s normal; /* Safari 和 Chrome */
}

.rate-container .rate-tool {
    font-size: 14px;
}

.rate-container .rate-content {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 50px;
    padding-bottom: 20px;
    z-index: 101;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.control-container .rate-content > ul {
    background-color: black;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
}

.rate-container .rate-content li {
    color: white;
    padding: 5px;
}

.rate-container .rate-content li:hover {
    /* background-color: #ffffff2e; */
    color: green;
}

.rate-container .rate-content .active {
    /* background-color: #ffffff4a; */
    color: green;
}

/* 弹幕设置 */  
.control-container .barrage-setting-container {
    position: relative;
}

.control-container .barrage-setting-container:hover .barrage-setting-content{
    display: block;
    animation: fadeIn .3s normal;
    -webkit-animation: fadeIn .3s normal; /* Safari 和 Chrome */
}

.barrage-setting-container .barrage-setting-tool {
    font-size: 14px;
}

.barrage-setting-container .barrage-setting-content {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    color: white;
    font-size: 12px;
    display: none;
}

.barrage-setting-content > div {
    padding-bottom: 6px;
    background-color: black;
    border-radius: 4px;
}

.barrage-setting-content p {
    padding: 5px;
}

.barrage-setting-content ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barrage-setting-content ul li {
    padding: 5px;
    text-align: center;
    color: gray;
    cursor: pointer;
}

.barrage-setting-content ul li:hover {
    color: green;
}

.barrage-setting-content ul .active {
    color: green;
}

.barrage-setting-content .barrage-opacity {
    padding: 5px;
}

.barrage-setting-content .barrage-range {
    padding: 5px;
}

.barrage-setting-content .barrage-range a {
    font-size: 50px;
    line-height: 50px;
}

.barrage-setting-content .barrage-range span {
    font-size: 12px;
}

.barrage-setting-content .barrage-switch {
    padding: 5px;
}

.barrage-setting-content .barrage-switch > span {
    padding: 5px;
}

.barrage-switch .barrage-tool {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    top: 3px;
    left: 35px;
    border-radius: 25px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    width: 65px;
    height: 21px;
    overflow: hidden;
    transition: all .25s linear;
    cursor: pointer;
    background-color: #ffffff;
}
.barrage-switch .barrage-tool .handle {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    background: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0px 4px 23px 0 rgba(0, 0, 0, 0.2), -2px 4px 4px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    left: 3px;
    transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
}
.barrage-switch .barrage-tool .handle:before {
    content: "OFF";
    font-size: 12px;
    font-weight: 400;
    color: gray;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 25px;
    line-height: 16px;
    /* -webkit-font-smoothing: antialiased; */
}
.barrage-switch .barrage-tool .handle:after {
    content: "ON";
    font-size: 12px;
    font-weight: 400;
    color: green;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -30px;
    line-height: 16px;
}
.barrage-switch .barrage-tool.on {
    /* background: #00000087; */
}
.barrage-switch .barrage-tool.on .handle {
    left: 47px;
    background-color: green;
    /* color: green; */
}
  

/* 中间工具栏 */
.control-container .control-center {
    flex: 1;
    margin: 0 20px;
    box-sizing: border-box;
}

.control-center .send-barrage-tool {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.control-center .send-barrage-tool .send-barrage-value {
    margin-left: 5px;
    padding: 5px;
    font-size: 12px;
    border: none;
    outline: none;
    flex: 1;
}

.control-center .send-barrage-tool .send-setting-btn {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    font-size: 12px;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid #908b8b;
    color: #9a9696;
    cursor: pointer;
}

.control-center .send-barrage-tool .send-barrage-btn {
    color: black;
    font-size: 12px;
    border-left: 1px solid gray;
    display: inline-block;
    width: 50px;
    text-align: center;
    background-color:#3333330f;
}

.control-center .send-barrage-tool .send-barrage-btn:hover {
    color: green;
}

.send-setting-tool:hover .send-setting-btn {
    border: 1px solid green;
    color: green;
}

.send-setting-tool:hover .send-setting-content {
    display: inline-block;
    animation: fadeIn .3s normal;
    -webkit-animation: fadeIn .3s normal; /* Safari 和 Chrome */
}

.send-setting-tool .send-setting-content {
    position: absolute;
    bottom: 32px;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 20px;
    /* left: 50%; */
    transform: translateX(-42%);
    z-index: 101;
    color: white;
    font-size: 12px;
    display: none;
}

.send-setting-content > div {
    padding: 0 6px;
    background-color: black;
}

.send-setting-content > div:first-child {
    border-radius: 4px 4px 0 0;
    padding-top: 5px;
}

.send-setting-content > div:last-child {
    border-radius: 0 0 4px 4px;
    padding-bottom: 6px;
}

.send-setting-content p {
    padding: 5px;
}

.send-setting-content ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.send-setting-content ul li {
    padding: 5px;
    text-align: center;
    color: gray;
    cursor: pointer;
}

.send-setting-content ul li:hover {
    color: green;
}

.send-setting-content ul .active {
    color: green;
}

.send-setting-content .send-color ul li {
    width: 16px;
    height: 16px;
    padding: 0;
}

.send-setting-content .send-color ul li a {
    display: none;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.send-setting-content .send-color ul .active a {
    display: block !important;
}

.send-setting-content .send-color ul li:hover a{
    display: block;
    
}

/* 顶部菜单 */
.video-container .video-top-menu {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px 20px;
    box-sizing: border-box;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
    background: -o-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
    background: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
    background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
    /* background-color: rgba(0, 0, 0, 0.2); */
    color: #fff;
    font-size: 12px;
    z-index: 110;
}

.video-top-menu .video-title {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-top-menu .video-size {
    display: flex;
    flex: 3;
    justify-content: center;
}

.video-top-menu .video-size li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.video-top-menu .video-size li:hover {
    color: green;
    cursor: pointer;
}

.video-top-menu .video-size .active {
    color: green;
}

.video-top-menu .video-size a {
    margin: 0 5px;
    font-size: 24px;
    line-height: 24px;
}

.video-top-menu .video-size span {
    font-size: 12px;
}

.video-top-menu .local-time {
    display: flex;
    flex-direction: row-reverse;
    flex: 2;
}




